@media screen and (min-width: 375px) {
  .container {
    display: block;
    max-width: 375px;
    padding: 0 16px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    display: block;
    max-width: 768px;
    padding: 0 32px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    display: block;
    max-width: 1440px;
    margin: 0 auto;
  }
}
